:root{
  --main-color: #2F904F
}
.navbar{
  height: 70px;
}
.navbar-brand{
  color: var(--main-color);
}
.nav-link{
  color: black
}
.avatar{
  height: 40px;
}
.title-left-menu{
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 17px;
}
.sub-title{
  color: grey;
  font-size: 16px;
  line-height: 2.1rem;
}
.card-title{
  padding-left: 0rem;
  font-size: 14px;
  line-height: 2.1rem;
  font-weight: bold;
}
.sub-title-card{
  color: grey;
  font-size: 15px;
  line-height: 2.1rem;
}
.card-content{
  font-size: 15px;
  line-height: 2.1rem;
  font-weight: 600;
}
input[type="checkbox"] {
  display:none;
}

input[type="checkbox"] + label span {
  display:inline-block;
  width:19px;
  height:19px;
  background-color: white;
  border: 1px solid;
  cursor:pointer;
}

input[type="checkbox"]:checked + label span {
  background:url("./checkbox.png") top no-repeat;
  border: 0px;
}
a:hover{
  color: var(--main-color);
}